parameters:
  level: 7
  paths:
    - src
  reportUnmatchedIgnoredErrors: true
  ignoreErrors:
    - "/Parameter #1 \\$identifier \\(string\\) of method Jasny\\\\Container\\\\Container\\:\\:\\w+\\(\\) should be contravariant with parameter \\$id \\(mixed\\) of method Psr\\\\Container\\\\ContainerInterface\\:\\:\\w+\\(\\)/"
    -
        message: "/Casting to string something that's already string/"
        path: src/Loader/AbstractLoader.php
includes:
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  - vendor/bnf/phpstan-psr-container/extension.neon

